<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="shortcut icon" href="../imgenes/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../Diseño/diseño.css">
</head>
<body class="imagen-fondo">
    <div id="app">

        <nav class="navbar navbar-expand-lg" id="navegadors">
            <div class="container-fluid d-flex">
                <img src="../imgenes/amazing_brand.png" alt="" class="iconoA">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav d-flex w-100 justify-content-around">
                        <a class="nav-link active shadow rounded border border-black" aria-current="page"
                            href="../../index.html">Home</a>
                        <a class="nav-link shadow rounded border border-black"
                            href="../upcoming-ev/upcoming-events.html">Upcoming Events</a>
                        <a class="nav-link shadow rounded border border-black" href="../past-events/past-events.html">Past
                            Events</a>
                        <a class="nav-link shadow rounded border border-black"
                            href="../contact/contact.html">Contact</a>
                        <a class="nav-link shadow rounded border border-black"
                            href="#">Stats</a>
                    </div>
                </div>
            </div>
        </nav> 

        <div class="carousel-imagenes">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../imgenes/optional_banner_5.jpg" class="d-block w-100 object-fit-cover" alt="banner-5">
                  </div>
                  <div class="carousel-item">
                    <img src="../imgenes/optional_banner_1.jpg" class="d-block w-100 object-fit-cover" alt="banner-1">
                  </div>
                  <div class="carousel-item">
                    <img src="../imgenes/optional_banner_2.jpg" class="d-block w-100 object-fit-cover" alt="banner-2">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <main>
            <table class="tabla table table-danger">
                <tbody>
                    <th colspan="3" class="text-center">
                        Events Statics
                    </th>
                    <tr>
                        <td>Events with highest % of assistance</td>
                        <td>Events with lowest % of assistance</td>
                        <td>Events with larger capacity</td>
                    </tr>
                    <tr>
                        <td>🔹{{mayorAssis.name}}🙍‍♂️ {{mayorPorcent}}%</td>
                        <td>🔹{{menorAssis.name}} 🙍‍♂️{{menorPorcent}}%</td>
                        <td>🔹{{eventMayor}} 🙍‍♂️{{eventNum}}</td>
                    </tr>
                </tbody>


                <tbody>
                    <th colspan="3" class="text-center">
                        Upcoming Events statics by categories
                    </th>
                        <tr>
                            <td scope="col">Categories</td>
                            <td scope="col">Revenue</td>
                            <td scope="col">Estimate of Assistance</td>
                        </tr>
                    <template v-for="categoria of objEventUp">
                        <tr>
                            <td scope="row">🔹{{categoria.category}}</td>
                            <td>💵${{categoria.revenue}}</td>
                            <td>🙍‍♂️{{categoria.porcEstimate}}%</td>
                        </tr>
                    </template>
                </tbody>
                            
                <tbody>
                    <th colspan="3" class="text-center">
                        Upcoming Events statics by categories
                    </th>
                    <tr>
                        <td scope="col">Categories</td>
                        <td scope="col">Revenue</td>
                        <td scope="col">Estimate of Assistance</td>
                    </tr>
                    <template v-for="categoria of objEventPass">
                        <tr>
                            <td scope="row">🔹{{categoria.category}}</td>
                            <td>💵${{categoria.revenue}}</td>
                            <td>🙍‍♂️{{categoria.porcAssistence}}%</td>
                        </tr>
                    </template>
                </tbody>
                </table>

        </main>
        <footer class="d-flex justify-content-between mt-2" id="piefinal">
            <div class="imagen-pie">
                <img src="../imgenes/facebook.png" alt="Facebook">
                <img src="../imgenes/instagram.png" alt="Instagram">
                <img src="../imgenes/whatsapp.png" alt="whatsapp">
            </div>
            <h6 class="fs-6">Cohort 49</h6>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../scripts/stats.js"></script>
</body>
</html>